@charset "UTF-8";
:root{
    --base-color:#fff;
}

*{margin:0; padding:0}
ul{list-style: none}
a{text-decoration: none; color:inherit}
a:hover{text-decoration: none; color:inherit}
html{font-size:20px;scroll-behavior: smooth}
body{font-family: 'Noto Sans KR', sans-serif}
.d-none{display:none}
.not-yet img{
    width:600px;
}
.not-yet{
    width:600px;
    margin:5rem auto;
}
.container{width:1024px}
#mobile-header{display:none}

/*================== HEADER ==================*/
.tab-header{display: none;}
#mobile-header{display: none;}
header{
    width:1024px;
    margin:0 auto;
}
.top_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;
    column-gap: 1.2rem;
    margin:1rem auto -1rem auto;
    height: 2rem;
}
.top_text{
    display: flex;
    font-size: .625rem;
    column-gap: 1rem;
}
.top_icons{
    display: flex;
    font-size: 0px;
    column-gap: .5rem;
}

.header_main{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}
.gnb-background{
    width:640px;
    height: 320px;
    background-color: #081929;
    position:absolute;
    z-index: 666;
    top:90px;
    right: -25px;
}
.gnb>li>a{
    line-height: 90px;
}
.gnb>li{
    position:relative;
    width:110px;
    text-align: center;
}
.gnb-sub{
    position:absolute;
    top:90px;
    left:-10px;
    z-index: 999;
    width:130px;
    font-size: .635rem;
    text-align: left;
    text-indent: 1.2rem;
    background-color: #081929;
    color:#fff;
    padding:.5rem 0 .5rem 0;
}
.gnb-sub li{
    line-height: 2rem;
}

/*================== SLIDE ==================*/
/* #slide{
    max-width: 100%;
    position: relative;
} */
.slide_wrap{
    width:100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.carousel-indicators{
    margin:1rem auto;
}
/* #carouselExampleIndicators{z-index:888} */
.carousel-indicators li{
    width:13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 .4rem;
    opacity: .9;
}
.carousel-indicators li.active{
    background-color: #081929;
}
.ca_img1{
    background-image: url(../images/main_01.jpg);
}
.ca_img2{
    background-image: url(../images/main_02.jpg);
}
.ca_img3{
    background-image: url(../images/main_03.jpg);
}
.ca_img4{
    background-image: url(../images/main_04.jpg);
}
.ca_img5{
    background-image: url(../images/main_05.jpg);
}
.ca_img6{
    background-image: url(../images/main_06.jpg);
}
.ca_img7{
    background-image: url(../images/main_07.jpg);
}
.ca_img{
    object-fit: cover;
    width:100%;
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;
    cursor: pointer;
}
.np-btn{
    transform: scale(1.5);
}
.btn_area{
    position:absolute;
    top:calc(50% - 20px);
    width:100%;
}
/* #slide button{
    font-size: 0;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    position:absolute;
} */

.quick_slide{
    width:100%;
    display: flex;
    justify-content: center;
    column-gap: .6rem;
    margin:.6rem 0;
}

/* .quick_slide li.active{
    background-color: #000;
} */

/*================== sub_fes ==================*/
#sub_fes{
    width:1024px;
    margin:1rem auto;
}
.fes_nav{
    display: flex;
    justify-content: space-between;
}

/*================== MAIN article ==================*/
#main{
    width:1024px;
    margin:0 auto;
}
.main_1f, .main_2f{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.main_1f>div{
    width:330px;
    height: 300px;
    box-sizing: border-box;
}
.main_2f>div{
    width:330px;
    height: 300px;
    box-sizing: border-box;
}

.notice, .news{
    position:relative;
    border:1px solid #ccc;
    padding:1.5rem;
    font-size: .875rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .6rem;
    /* width:100%; */
}
.switch_title{
    line-height: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: .7rem;
    margin-top:1.5rem;
    cursor: default;
}
.notice_content{
    margin-top:-.5rem;
}
.switch_title li.on{
    font-size: 1rem;
}
.btn_more{
    position:absolute;
    top:1.1rem;
    right:10%;
}

.notice_content li, .news_nav li{
    border-bottom:1px solid #ccc;
    font-size: .7rem;
    line-height: 2rem;
    text-align: left;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notice_content li:last-child{
    border: none;
}
.news_nav li:last-child{
    border: none;
}
.banner img, .sns_news img{
    width:100%;
    text-align: center;
    height:300px;
    font-size: 0;
}
.news h3{
    font-size: 1rem;
    text-align: left;
    line-height: 1rem;
    margin-top:1.5rem;
}

.main_gal, .movie{
    border: 1px solid #ccc;
    position: relative;
}
.gal_link{
    position: absolute;
    top:1rem;
    left:25px;
}
.gal_img{
    width:328px;
    height: 210px;
    font-size: 0;
    position:absolute;
    bottom: 0;
    left: 0;
}
.gal_img img{
    width:100%;
    text-align: center;
    font-size: 0;
}
.player{
    position:absolute;
    bottom:-6px;
    width:100%;
}


/*================== footer ==================*/
footer{
    border-top: 3px solid #ccc;
    /* width:100%; */
}
.footer_wrap{
    width:1024px;
    margin:1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom_text{
    font-size: .625rem;
    text-align: right;
}


@media screen and (min-width:577px) and (max-width:768px){
    /* 살려줘 */
    #sub_fes{
        display: none;
    }
    header{
        display: none;
    }
    #mobile-header{
        display: none;
    }
    .tab-header{
        display: block;
        width:100%;
        text-align: center;
        margin-top:2rem;
    }
    .tab-nav-mainul{
        display: flex;
        justify-content: center;
        column-gap: 5%;
        margin-top:2rem;
        font-size: .875rem;
    }
    .tab-nav-mainul>li:nth-child(1){position:relative}
    .tab-nav-subul{
        /* width:140px; */
        background-color: #081929;
        color:#fff;
        padding:0 1rem;
        position:absolute;
        z-index:9999;
        top:2.32rem;
        margin-left:-3.2rem;
    }
    .tab-nav-subul li{
        width:160px;
        font-size: .7rem;
        padding:.5rem 0;
    }
    .ca_img{
        object-fit: cover;
        width:100%;
        height:300px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-position: center center;
        cursor: pointer;
    }
    #main{
        width:70%;
        margin:1rem auto;
    }
    .notice_content li{
        width:100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .banner{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }
    
    .gal_link{
        left:calc(50% - 140px);
    }
    
    .gal_img{
        width:100%;
        object-fit: contain;
        background-color: #000209;
    }
    .player{
        width:100%;
        text-align: center;
        background-color: #000209;
    }
    .sns_news{display: none;}
    .container{
        max-width:100%;
        margin:0 auto;
    }
    .main_1f, .main_2f{
        display: block;
        margin:0;
        /* margin:1rem auto; */
        overflow: hidden;
    }
    .main_1f>div, .main_2f>div{
        width:100%;
        margin:.5rem auto;
    }
    footer{
        width:100%;

    }
    .footer_wrap{
        width:280px;
        margin:1rem auto;
        display: block;
        align-items: center;
        justify-content: space-between;
    }
    .bottom_text{
        font-size: .625rem;
        text-align: center;
    }
    .top_nav{
        height:2rem;
        width:70%;
        margin: 0 auto;
    }

}

/* ============== mobile ============== */
@media screen and (min-width:310px) and (max-width:576px){
    header{
        display: none;
    }
    #mobile-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:280px;
        margin:0 auto;
    }
    #mobile-header img{
        width:200px;
        margin-top:2rem;
    }
    #mobile-header .navbar{
        margin-top:-1rem;
        margin-left: 0;
        font-size: .6rem;
        width:280px;
        padding:0;
        justify-content: end;
        flex-direction: row-reverse;
        text-align: end;
    }
    /* .bn-wrap{
        position:absolute;
        top:50px;
        right:10%;
    } */
    #mobile-header .navbar-toggler{
        transform: scale(.7) translateX(1.4rem);
        border: none;
        
    }
    #mobile-header .navbar-brand{
        font-size: .7rem;
        margin-left:-.5rem;
    }
    .dropdown-menu{
        font-size: .6rem;
        width:100%;
        text-align: right;
        margin:0;
        margin-top:-.5rem;
        padding-right: 0;
        border: none;
    }
    .dropdown-item{
        padding: .5rem;
    }

    #main{
        /* width:280px; */
        width:70%;
        margin:2rem auto;
    }
    .container{
        width:280px;
        margin:0 auto;
    }
    .main_1f, .main_2f{
        display: block;
        margin:0;
        /* margin:1rem auto; */
    }
    
    #sub_fes{
        display: none;
    }
    .ca_img{
        object-fit: cover;
        width:100%;
        height:300px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-position: center center;
        cursor: pointer;
    }
    .np-btn{
        transform: scale(.8);
    }
    
    .carousel-indicators{
        margin:3% 0;
        padding:0;
    }
    .carousel-indicators li{
        transform: scale(.8);
        margin:0 .3rem;
    }
    /* 슬라이드 배경 이미지 위치 조정 */
    .ca_img{
        background-position: 61.7% center;
        
    }
    .carousel-control-next{
        opacity: .9;
        right: 0;
    }
    .carousel-control-prev{
        opacity: .9;
        left:0;
    }
    .main_1f>div{
        width:100%;
        margin:0 auto;
        height: 300px;
        box-sizing: border-box;
        padding: 0;
    }
    .main_2f>div{
        width:100%;
        margin:0 auto;
        height: 300px;
        box-sizing: border-box;
        padding: 0;
    }
    .notice, .news{
        padding:0 1rem !important;
    }
    
    .gal_link{
        width:250px;
        left:calc(50% - 125px);
    }
    .gal_img{
        width:100%;
        object-fit: contain;
        background-color: #000209;
    }
    .player{
        width:100%;
        text-align: center;
        background-color: #000209;
    }
    
    footer{
        width:100%;
    }
    .footer_wrap{
        width:280px;
        margin:1rem auto;
        display: block;
        align-items: center;
        justify-content: space-between;
    }
    .bottom_text{
        font-size: .625rem;
        text-align: center;
    }
}















